rofi.color-enabled: true
rofi.color-window: #2f343f, #2f343f, #878E9D
rofi.color-normal: #2f343f, #676E7D, #2f343f, #2f343f, #f3f4f5
rofi.color-active: #2f343f, #676E7D, #2f343f, #2f343f, #9575cd
rofi.color-urgent: #2f343f, #ff1844, #2f343f, #2f343f, #ff5894

rofi.lines: 3
rofi.eh: 2
rofi.width: 100
rofi.padding: 450
rofi.bw: 0
rofi.separator-style: solid
rofi.font: Dosis Medium 25
rofi.cycle: false
rofi.hide-scrollbar: true
rofi.ssh-command: xfce4-terminal -e "{ssh-client} {host}"
rofi.modi: drun,setup:~/.config/i3/switchScreenSetup.sh,ssh
rofi.run-command: i3 exec {cmd}
