# Ignore everyting
*

# Then, whitelist
!.gitignore
!/
!/Bilder
!/Bilder/Wallpaper
!/Bilder/Wallpaper/forest.jpg
!/.config
!/.config/install.sh
!/.config/i3/
!/.config/i3/*
!/.config/rofi
!/.config/rofi/*
!/.config/xfce4
!/.config/xfce4/terminal
!/.config/xfce4/terminal/terminalrc
