# Ignore everything
*

# Then, whitelist
!.gitignore
!.gitattributes
!/
!/Bilder
!/Bilder/Verschiedenes
!/Bilder/Verschiedenes/Wallpaper
!/Bilder/Verschiedenes/Wallpaper/standard.jpg
!/.config
!/.config/install.sh
!/.config/backupList
!/.config/i3/
!/.config/i3/*
!/.config/rofi
!/.config/rofi/*
!/.config/xfce4
!/.config/xfce4/terminal
!/.config/xfce4/terminal/terminalrc
!/.config/i3/custom-blocks
!/.config/i3/custom-blocks/*
!/.config/polybar/
!/.config/polybar/config
!/.config/polybar/launch.sh
!/.zshrc
!/.bin/
!/.bin/emptyTrash
!/.bin/bootwin.sh
!/.bin/install.sh
!/.bin/backup.post.sh
!/.doc
!/.doc/*