# Ignore everyting
*

# Then, whitelist
!.gitignore
!.gitattributes
!/
!/Bilder
!/Bilder/Verschiedenes
!/Bilder/Verschiedenes/Wallpaper
!/Bilder/Verschiedenes/Wallpaper/standard.jpg
!/.config
!/.config/install.sh
!/.config/i3/
!/.config/i3/*
!/.config/rofi
!/.config/rofi/*
!/.config/xfce4
!/.config/xfce4/terminal
!/.config/xfce4/terminal/terminalrc
!/.config/i3/custom-blocks
!/.config/i3/custom-blocks/*
!/.ssh
!/.ssh/config
!/.zshrc
!/.bin
!/.bin/emptyTrash
